apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
  namespace: hello-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-app
  template:
    metadata:
      labels:
        app: hello-app
    spec:
      containers:
      - name: hello-app
        # Kustomize가 이 이미지 태그를 관리
        image: myanjini/hello-app:latest
        ports:
        - containerPort: 8080
